01. Importing relevant Library & CSV file.

In [ ]:
import pandas as pd

cyclist_data_raw = pd.read_csv("C:/Users/User/Downloads/Divvy_Trips_2020_Q1/raw_data.csv")

# Confirm that the data loaded correctly and shows the number of rows within the dataset.
print("Data loaded sucessfully")
print("Total rows:", len(cyclist_data_raw))
cyclist_data_raw.head()

Data loaded sucessfully
Total rows: 426887

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EACB19130B0CDA4A,docked_bike,2020-01-21 20:06:59,2020-01-21 20:14:30,Western Ave & Leland Ave,239,Clark St & Leland Ave,326.0,41.9665,-87.6884,41.9671,-87.6674,member
1,8FED874C809DC021,docked_bike,2020-01-30 14:22:39,2020-01-30 14:26:22,Clark St & Montrose Ave,234,Southport Ave & Irving Park Rd,318.0,41.9616,-87.6660,41.9542,-87.6644,member
2,789F3C21E472CA96,docked_bike,2020-01-09 19:29:26,2020-01-09 19:32:17,Broadway & Belmont Ave,296,Wilton Ave & Belmont Ave,117.0,41.9401,-87.6455,41.9402,-87.6530,member
3,C9A388DAC6ABF313,docked_bike,2020-01-06 16:17:07,2020-01-06 16:25:56,Clark St & Randolph St,51,Fairbanks Ct & Grand Ave,24.0,41.8846,-87.6319,41.8918,-87.6206,member
4,943BC3CBECCFD662,docked_bike,2020-01-30 08:37:16,2020-01-30 08:42:48,Clinton St & Lake St,66,Wells St & Hubbard St,212.0,41.8856,-87.6418,41.8899,-87.6343,member

02. Understanding the data.

In [14]:
cyclist_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426887 entries, 0 to 426886
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             426887 non-null  object
 1   rideable_type       426887 non-null  object
 2   started_at          426887 non-null  object
 3   ended_at            426887 non-null  object
 4   start_station_name  426887 non-null  object
 5   start_station_id    426887 non-null  int64
 6   end_station_name    426886 non-null  object
 7   end_station_id      426886 non-null  float64
 8   start_lat           426887 non-null  float64
 9   start_lng           426887 non-null  float64
 10  end_lat             426886 non-null  float64
 11  end_lng             426886 non-null  float64
 12  member_casual       426887 non-null  object
dtypes: float64(5), int64(1), object(7)
memory usage: 42.3+ MB

In [ ]:
cyclist_data_raw.describe()

,start_station_id,end_station_id,start_lat,start_lng,end_lat,end_lng
count,426886.000000,426886.000000,426886.000000,426886.000000,426886.000000,426886.000000
mean,209.796709,209.337947,41.897846,-87.644157,41.897998,-87.644254
std,163.221528,163.198129,0.038080,0.022666,0.038315,0.022662
min,2.000000,2.000000,41.736600,-87.774700,41.736600,-87.774700
25%,77.000000,77.000000,41.880300,-87.655000,41.880300,-87.655500
50%,176.000000,175.000000,41.890600,-87.639900,41.890600,-87.640800
75%,298.000000,297.000000,41.915700,-87.629500,41.916000,-87.629500
max,675.000000,675.000000,42.064900,-87.549400,42.064900,-87.549400

In [ ]:
cyclist_data_raw.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [ ]:
# Using Value_Counts to find out how many customers are members and how many are casuals.
cyclist_data_raw["member_casual"].value_counts()

member_casual
member    378407
casual     48479
Name: count, dtype: int64

03. Cleaning the data.

In [22]:
cyclist_data_raw = cyclist_data_raw.dropna(subset=["start_station_name", "end_station_name"])
print("Missing Station names removed.")

Missing Station names removed.

In [ ]:
# To confirm that there aren't any missing values anymore.
cyclist_data_raw.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [24]:
cyclist_data_raw["started_at"] = pd.to_datetime(cyclist_data_raw["started_at"])
cyclist_data_raw["ended_at"] = pd.to_datetime(cyclist_data_raw["ended_at"])

print("Datetime columns converted successfully.")

Datetime columns converted successfully.

In [ ]:
# New coloumn that measures the length of each bike ride.
cyclist_data_raw["ride_length"] = (cyclist_data_raw["ended_at"] - cyclist_data_raw["started_at"]).dt.total_seconds() / 60

In [26]:
cyclist_data_raw["ride_length"].mean()

np.float64(22.115156973993056)

In [27]:
cyclist_data_raw = cyclist_data_raw[cyclist_data_raw["ride_length"] > 0]
print(" Invalid rides romoved.")

 Invalid rides romoved.

In [ ]:
# New column that shows the days of week that the customers ride.
cyclist_data_raw["day_of_week"] = cyclist_data_raw["started_at"].dt.day_name()

In [35]:
# Moving the new data into a new csv called 'cyclist_cleaned'.
cyclist_data_raw.to_csv("cyclist_cleaned.csv", index=False)
print("Cleaned data saved as 'cyclist_cleaned.csv'")

Cleaned data saved as 'cyclist_cleaned.csv'

04. Validating the Data.

In [31]:
cyclist_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 426677 entries, 0 to 426886
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             426677 non-null  object
 1   rideable_type       426677 non-null  object
 2   started_at          426677 non-null  datetime64[ns]
 3   ended_at            426677 non-null  datetime64[ns]
 4   start_station_name  426677 non-null  object
 5   start_station_id    426677 non-null  int64
 6   end_station_name    426677 non-null  object
 7   end_station_id      426677 non-null  float64
 8   start_lat           426677 non-null  float64
 9   start_lng           426677 non-null  float64
 10  end_lat             426677 non-null  float64
 11  end_lng             426677 non-null  float64
 12  member_casual       426677 non-null  object
 13  ride_length         426677 non-null  float64
 14  day_of_week         426677 non-null  object
dtypes: datetime64[ns](2), float64(6), int64(1), object(6)
memory usage: 52.1+ MB

In [32]:
cyclist_data_raw.describe()

,started_at,ended_at,start_station_id,end_station_id,start_lat,start_lng,end_lat,end_lng,ride_length
count,426677,426677,426677.000000,426677.000000,426677.000000,426677.000000,426677.000000,426677.000000,426677.000000
mean,2020-02-14 01:02:57.727371776,2020-02-14 01:25:05.291665920,209.568838,209.109851,41.897850,-87.644139,41.898002,-87.644236,22.126072
min,2020-01-01 00:04:44,2020-01-01 00:10:54,2.000000,2.000000,41.736600,-87.774700,41.736600,-87.774700,0.016667
25%,2020-01-24 13:49:49,2020-01-24 14:05:06,77.000000,77.000000,41.880300,-87.655000,41.880300,-87.655500,5.483333
50%,2020-02-16 22:32:00,2020-02-16 23:37:21,176.000000,175.000000,41.890600,-87.639900,41.890600,-87.640600,9.166667
75%,2020-03-05 14:43:44,2020-03-05 15:06:24,297.000000,296.000000,41.916000,-87.629500,41.916000,-87.629500,15.833333
max,2020-03-31 23:51:34,2020-05-19 20:10:34,675.000000,675.000000,42.064900,-87.549400,42.064900,-87.549400,156450.400000
std,NaN,NaN,162.936362,162.912269,0.038088,0.022657,0.038324,0.022653,619.193669

In [33]:
cyclist_data_raw["member_casual"].value_counts()

member_casual
member    378407
casual     48270
Name: count, dtype: int64